/* start global roles */
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --main-color:#2196f3;
    --main-color-alt:#1787e0;
    --main-transition:0.3s;
    --section-padding:100px;
    --section-background:#ececec;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Cairo", sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* end global roles */
/* start container style */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px){
    .container{
        width: 750px;
    }
}
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* end container style */
/* start main-title style  */
.main-title{
    width: fit-content;
    padding: 10px 20px;
    border: 2px solid black;
    margin: 0 auto 80px;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before , .main-title::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px ;
    border-radius:50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translatey(-50%);
    transition: 40s;
    z-index:-1;
}
.main-title::after{
   right: -30px;
}
.main-title::before{
    left: -30px;
}
.main-title:hover::before{
   animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
    animation: right-move 0.5s linear forwards;
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
@keyframes left-move {
    50%{
        width: 12px;
        height: 12px;
        left: 0;
    }
    100%{
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes right-move {
    50%{
        width: 12px;
        height: 12px;
        right: 0;
    }
    100%{
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}
/* end main-title style  */

/* start sparator style  */
.separator:after{
    content: "";
    position: absolute;
    height: 30px;
    width: 100%;
    right: 0;
    z-index: 10;
    background-image: linear-gradient(135deg , white 25% ,transparent 25%) , linear-gradient(225deg , white 25% ,transparent 25%);
    background-size: 30px 30px;
}
/* end sparator style  */
/* start dots  */
.dots{
    background-image: url(../images/dots.png);
    position: absolute;
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    /* z-index: -1; */
    display: none;
}
.dots-up{
    top: 200px;
    right: 0;
}
.dots-down{
    bottom: 200px;
    left: 0;
}
@media(min-width:1200px){
    .dots{
        display: block;
    }

}
/* end dots  */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* start header  */
.header{
    background: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo{
    font-size: 26px;
    height: 72px;
    color: var(--main-color);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .header .logo {
      width: 100%;
      height: 50px;
    }
  }

.header .main-nav{
    display: flex;
}
@media (max-width: 767px) {
    .header .main-nav {
      margin: auto;
    }
  }

.header .main-nav > li > a{
    font-size: 18px;
    color: black;
    padding: 0 30px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--main-transition);
    position: relative;
    overflow: hidden;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

.header .main-nav > li > a:hover{
    background-color: #fafafa;
    color: var(--main-color);
}
.header .main-nav > li > a::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.header .main-nav > li > a:hover::before{
    left: 0;
}
.header .main-nav > li:hover .mega-menu{
    opacity: 100%;
    z-index: 100;
    top: calc(100% + 1px);
}
.mega-menu{
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    background-color: white;
    z-index: -1;
    width: 100%;
    border-bottom: 4px solid var(--main-color);
    display: flex;
    gap: 40px;
    padding: 30px;
    opacity: 0;
    transition: top var(--main-transition) , opacity var(--main-transition);
}
@media (max-width:768px){
    .mega-menu{
        flex-direction: column;
        gap: 0;
    }
    .mega-menu .links:first-of-type li:last-child{
        border-bottom: 1px solid #e9e6e6;
    }
}
.mega-menu .links{
    min-width: 250px;
    flex: 1;
}
.mega-menu .image img {
    max-width: 100%;
  }
@media (max-width:991px) {
    .mega-menu img{
        display: none;
    }
}
.mega-menu .links li{
    position: relative;
}
.mega-menu .links li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
    height: 100%;
    background-color: #fafafa;
    transition: var(--main-transition);
}
.mega-menu .links li:hover::before{
    width: 100%;
}
.mega-menu .links li:not(:last-child){
    border-bottom:1px solid #e9e6e6
}
.mega-menu .links li a{
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 15px;
}
.mega-menu .links li a i{
    margin-right: 10px;
}
/* end header  */
/* start landing */
.landing{
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 72px);
    padding-bottom: 120px;
}

.landing .container .text{
    flex:1;
    max-width: 500px;
}
@media (max-width:992px){
    .landing .container .text{
        display: block;
        margin: auto;
        text-align: center;
    }
}

.landing .container .text h1{
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: bold;
    margin: 0;
}
.landing .container .text p{
    font-size: 23px;
    color: #666;
    line-height: 1.7;
    margin: 5px 0 0;
}

@media (max-width:768px){
    .landing .container .text h1{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .landing .container .text p{
        font-size: 18px;

    }
}

.landing .container img{
    width: 600px;
    max-width: 100%;
    animation: up-and-down 5s linear infinite;
    position: relative;
}
@media (max-width:992px){
    .landing .container img{
        display: none;
    }
}
/* # animation of img  */
@keyframes up-and-down {
    0% , 100%{
        top: 0;
    }
    50%{
        top:-50px
    }
}
.landing .go-down{
    color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down i{
    animation: bouncing infinite 1.5s;
}
/* #animation of go-down icon */
@keyframes bouncing {
    0% , 10% , 20% ,50% ,80% , 100%{
        transform: translatey(0);
    }
    40% , 60%{
        transform: translatey(-10px);
    }
}
.landing .go-down:hover{
    color: var(--main-color-alt);
}
/* end landing */
/* start articles */
.articles{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;

}
.articles .container .card{
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    transition: var(--main-transition);
}
.articles .container .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 /20%);
}
.articles .container .card img{
    max-width: 100%;
}
.articles .container .card .content{
    padding: 20px;
}
.articles .container .card .content h3{
    margin: 0;
}
.articles .container .card .content p{
    margin: 10px 0 0 0;
    color: #777;
    line-height: 1.6;
}

.articles .container .card .info{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e6e6e7;
}
.articles .container .card .info a{
    font-weight: bold;
    color: var(--main-color);
}
.articles .container .card .info i{
    color: var(--main-color);
}
.articles .container .card:hover .info i{
    animation: arraw-move linear 0.6s infinite;
}
@keyframes arraw-move {
    100%{
        transform: translatex(10px);
    }
}
/* end articles */
/* start gallery */
.gallery{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--section-background);
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.gallery .container .box{
    border: 15px solid white;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .box .image::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(256 256 256 /20%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 2;
   
}
.gallery .container .box .image:hover::before{
    animation: flashing 0.3s linear;
}
.gallery .container .box:hover img{
    transform: rotate(5deg) scale(1.1);
}
.gallery .container .box img{
    max-width: 100%;
    transition: var(--main-transition);
}
@keyframes flashing {
    0% , 40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* end gallery */
/* start features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: white;
  }
  .features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
  }
  .features .box {
    text-align: center;
    border: 1px solid #ccc;
  }
  .features .box .img-holder {
    position: relative;
    overflow: hidden;
  }
  .features .box .img-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
  }
  .features .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
  }
  .features .box .img-holder img {
    max-width: 100%;
  }
  .features .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0;
  }
  .features .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
  }
  .features .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
  }
  .features .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
  }
  .features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
  }
  .features .quality .img-holder::before {
    background-color: rgb(244 64 54 / 60%);
  }
  .features .quality h2::after {
    background-color: #f44036;
  }
  .features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .features .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
  }
  .features .time h2::after {
    background-color: #009688;
  }
  .features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .features .passion .img-holder::before {
    background-color: rgb(3 169 244 / 60%);
  }
  .features .passion h2::after {
    background-color: #03a9f4;
  }
  .features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .features .box:hover a {
    background-position: left bottom;
    color: white;
  }
/* end features */
/* start testimonial */
.testimonial{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: #ececec;
}
.testimonial .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;
}
.testimonial .container .box{
    background-color: white;
    position: relative;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}
.testimonial .container .box img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    
    right: -10px;
    border-radius: 50%;
    border: 10px solid #ececec;
}
.testimonial .container .box h3{
    margin: 0;
    text-transform: capitalize;
}
.testimonial .container .box .title{
    display: block;
    margin: 10px 0;
    color: #777;
}

.testimonial .container .box .rate .filled{
    color: #ffc107;
    margin-bottom: 10px;
}
.testimonial .container .box p{
    color: #777;
    line-height: 1.6;
}
/* end testimonial */
/* start team  */
.team{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;

}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
}
.team .container .box{
    position: relative;
}
.team .container .box::after,
.team .container .box::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    
    z-index: -2;
    border-radius: 10px;
}
.team .container .box::before{
    width: calc(100% - 60px);
    background-color: #f3f3f3;
    z-index: -2;
}
.team .container .box::after{
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
    transition: var(--main-transition);
}
.team .container .box:hover::after{
    width: calc(100% - 60px);
}
.team .container .box .data{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team .container .box .data img{
    max-width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .container .box:hover img{
    filter: grayscale(100%);
}
.team .container .box .data .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.team .container .box .data .social a{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team .container .box .data .social a i{
    color: #777;
    transition: var(--main-transition);
}
.team .container .box .data .social a:hover i{
    color: var(--main-color);
}

.team .container .box .info{
    margin-left: 80px;
}
.team .container .box .info h3{
    margin-top: 20px;
    font-size: 22px;
    color: var(--main-color);
    margin-bottom: 0;
    transition: var(--main-transition);
}
.team .container .box:hover h3{
    color: #848484;
}
.team .container .box .info p{
    margin-top: 10px;
    margin-bottom: 25px;
}
/* end team  */
/* start services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

    background-color: var(--section-background);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
    
}

.services .container .card{
    background-color: white;
    text-align: center;
    counter-increment: counter1;
    position: relative;
    transition: var(--main-transition);
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.services .container .card::before{
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    background-color: var(--main-color);
    height: 3px;
    transition: var(--main-transition);
}
.services .container .card:hover{
    transform: translatey(-10px);
}
.services .container .card:hover::before{
    width: 100%;
}
.services .container .card i{
    color: #d5d5d5;
    margin: 30px 0 20px 0;
}
.services .container .card h3{
    color: var(--main-color);
    font-size: 26px;
}
.services .container .card .info{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    position: relative;
}
.services .container .card .info::before{
    content: "0" counter(counter1);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-right: 15px;
}
.services .container .card .info::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: #d5d5d5;
    left: 80px;
    top: 0;
    z-index: 100;
    transform: skewX(-30deg);
}
/* end services */
/* start skills  */
.skills{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;

}
.skills .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:992px){
    .skills .container .image img{
        display: none;
    }
}
.skills .container .skill-bars{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.skills .container .skill-bars .skill .progress{
    width: 100%;
    height: 30px;
    background-color: #eeeeee;
    margin: 20px 0;
    position: relative;
}
.skills .container .skill-bars .skill .progress span{
    
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
}
.skills .container .skill-bars .skill h3{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.skills .container .skill-bars .skill h3 span{
    font-size: 12px;
    color: var(--main-color);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 5px;
}
/* end skills  */
/* start how it works  */
.how-work{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--section-background);

}
.how-work .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
@media (max-width:992px){
    .how-work .container{
        flex-direction: column;
    }
    .how-work .container .image img{
        max-width: 100%;
    }
}
.how-work .container .image{
    max-width: 100%;
}

.how-work .container .steps{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    gap: 20px;
}
.how-work .container .steps .step{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f5f5;
    border: 2px solid white;
    border-radius: 5px;
    gap: 30px;
    padding: 30px;
    position: relative;
    z-index: 1;
}
.how-work .container .steps .step::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 0;
    height: 0;
    z-index: -1;
    background-color: var(--section-background);
    transition: var(--main-transition);
}
.how-work .container .steps .step:hover::before{
    width: 100%;
    height: 100%;
}
.how-work .container .steps .step img{
    
    max-width: 65px;
}
.how-work .container .steps .step h2{
    font-size: 22px;
    margin: 0;
}
.how-work .container .steps .step p{
    margin-top:15px;
    color: #777;
    line-height: 1.6;
    font-size: 18px;

}
/* end how it works  */
/* start events */
.events{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.events .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.events .container img{
    width: 450px;
}
@media(max-width:991px){
    .events .container img{
        display: none;
    }
}
.events .container .counter{
    flex: 1;
}
.events .container .counter .time{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.events .container .counter .time .unit{
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    width: 75px;
    transition: var(--main-transition);
}
.events .container .counter .time .unit:hover,
.events .container .counter .time .unit:hover span:last-child{
    border-color: var(--main-color);
}
.events .container .counter .time .unit span{
    display: block;
    transition: var(--main-transition);
}
.events .container .counter .time .unit span:first-child{
    color: var(--main-color);
    font-size: 35px;
    padding: 15px;
    font-weight: bold;
    
}
.events .container .counter .time .unit span:last-child{
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #d4d4d4;
    padding: 8px 10px;
}
.events .container .counter h2{
    text-align: center;
    font-size: 30px;
    margin: 40px 0 0 0;
    
}
.events .container .counter p{
    text-align: center;
    margin: 25px 0 0 0;
    color: #777;
    line-height: 1.6;
    font-size: 19px;
}
.events .container .subscribe{
    width: 100%;
    margin-top: 50px;
    
}
.events .container .subscribe form{
   width: 600px;
   margin: 20px auto;
   padding: 30px 40px;
   background-color: #f6f5f5;
   border-radius: 50px;
   display: flex;
   gap: 20px;
}
@media(max-width:768px){
    .events .container .subscribe form{
        flex-direction: column;
        max-width: 100%;
        border-radius: 0;

    }
}
.events .container .subscribe form input[type="email"]{
    padding: 20px;
    flex: 1;
    border-radius: 50px;
    border: none;
    caret-color: var(--main-color);
}
@media(max-width:768px){
    .events .container .subscribe form input[type="email"]{
        border-radius: 0;
        
    }
}
.events .container .subscribe form input[type="email"]:focus{
    outline: none;
}
.events .container .subscribe form input[type="email"]::placeholder{
    transition: var(--main-transition);
}
.events .container .subscribe form input[type="email"]:focus::placeholder{
    opacity: 0;
}
.events .container .subscribe form input[type="submit"]{
    padding: 20px;
    border-radius: 50px;
    background-color: var(--main-color);
    color: white;
    border: none;
    /* font-size: 20px; */
    font-weight: bold;
}
@media (max-width: 767px) {
    .events .container .subscribe form input[type="submit"] {
      border-radius: 0;
    }
  }
.events .container .subscribe form input[type="submit"]:hover{
    background-color: var(--main-color-alt);
    cursor: pointer;
}
/* end events */
/* start plans  */
.plans{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--section-background);
}
.plans .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
}
.plans .plan {
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    background: white;
    z-index: 1;
  }
  .plans .plan::before,
  .plans .plan::after {
    content: "";
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    position: absolute;
    z-index: -1;
    transition: var(--main-transition);
  }
  .plans .plan::before {
    top: 0;
    left: 0;
  }
  .plans .plan::after {
    right: 0;
    bottom: 0;
  }
  .plans .plan:hover::before,
  .plans .plan:hover::after {
    width: 100%;
  }


@media(min-width:1200px){
    .plans .container .plan:nth-of-type(2){
        transform: translateY(-20px);
    }
}
.plans .container .plan .title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top:30px ;
}
.plans .container .plan img{
    display: block;
    width: 80px;
    margin: 30px auto;
}

.plans .container .plan .price .amount{
    display: block;
    width: 100%;
    color: var(--main-color);
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
.plans .container .plan .price .time{
    display: block;
    text-align: center;
    margin: 5px auto 10px;
    color: #777;
}

.plans .container .plan ul li{
    padding: 20px;
    border-top:1px solid #eee ;
}
.plans .container .plan ul li:before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}
.plans .container .plan a{
    display: block;
    text-align: center;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    margin: 30px auto 40px;
    width: fit-content;
    padding: 15px 20px;
    color: var(--main-color);
    font-weight: bold;
    transition: var(--main-transition);
}
.plans .container .plan a:hover{
    background-color: var(--main-color);
    color: white;
}
.plans .container .plan:nth-of-type(2) .mark{
    background-color: var(--main-color);
    color: white;
    width: 40px;
    writing-mode: vertical-lr;
    position: absolute;
    top: 0;
    right: 20px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px 35px ;
}
.plans .container .plan:nth-of-type(2) .mark::before{
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent white transparent;
    bottom: 0;
    left: 0;
}
/* end plans  */
/* start video  */
.video{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.video .container .holder{
    display: flex;
    justify-content: center;
    border: 1px solid #ddd;
}
@media(max-width:991px){
    .video .container .holder{
        flex-direction: column;
    }
}
.video .container .holder .list{
    min-width: 300px;

}
.video .container .holder .list .name{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    background-color: #f4f4f4;
}
.video .container .holder .list ul li{
    padding: 20px;
    transition: var(--main-transition);
    border-top: 1px solid var(--section-background);
}
.video .container .holder .list ul li:hover{
    background-color: #fafafa;
    color: var(--main-color);
    cursor: pointer;
}
.video .container .holder .list ul li span{
    display: block;
    color: #777;
    margin-top: 10px;
}
.video .container .holder .preview{
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video .container .holder .preview img{
    max-width: 100%;
}
.video .container .holder .preview .info{
    background-color: white;
    padding: 20px;
    margin-top: 10px;
}
/* end video  */
.states{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../images/stats.jpg");
    background-size: cover;
    position: relative;
}
.states h1{
    display: block;
    font-weight: bold;
    position: relative;
    margin:0 auto 60px;
    text-align: center;
    font-size: 40px;
}
.states:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.950);
}
.states .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    position: relative;
}
.states .container .box{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    opacity:0.8;
    transition: var(--main-transition);
    position: relative;
}
.states .container .box:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.states .container .box:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.states .container .box:hover::after{
    height: 100%;
}
.states .container .box:hover::before{
    height: 100%;
}
.states .container .box:hover{
    opacity: 1;
}
.states .container .box i{
    margin: 0 auto 10px;
}
.states .container .box .number{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.states .container .box .text{
    color: var(--main-color);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px ;
    font-style: italic;
}
@media(min-width:992px){
    .states .container .box{
        flex-basis: 25%;
    }
}

/* start discount  */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  .discount .image {
    background-image: url(../images/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
  }
  .discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
  }
  @media (max-width: 991px) {
    .discount .image {
      flex-basis: 100%;
    }
  }
  .discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
  }
  @media (max-width: 991px) {
    .discount .form {
      flex-basis: 100%;
      padding-bottom: 40px;
    }
  }
  .discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
  }
  .discount .form textarea.input {
    resize: none;
    height: 200px;
  }
  .discount .form .input:focus {
    outline: none;
  }
  .discount .form [type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
  }
  .discount .form [type="submit"]:hover {
    background-color: var(--main-color-alt);
  }
  .discount .content {
    text-align: center;
    padding: 0 20px;
  }
  .discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
    
    margin:20px 0 40px;
  }
  .discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
    margin-bottom: 25px;
  }
  .discount .content img {
    width: 300px;
    max-width: 100%;
  }
/* end discount  */
/* start footer  */
.footer{
    background-color: #191919;
    padding: 70px 0 0;
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}
.footer .container .box h3{
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .container .box .social{
    display: flex;
    margin-bottom: 20px;
}
.footer .container .box .social li{
    margin-right: 10px;
}
.footer .container .box .social li a{
    width: 50px;
    height: 50px;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b9b9b9;
    transition: var(--main-transition);
    font-size: 20px;
}
.footer .box .social .facebook:hover {
    background-color: #1877f2;
  }
  .footer .box .social .twitter:hover {
    background-color: #1da1f2;
  }
  .footer .box .social .youtube:hover {
    background-color: #ff0000;
  }
.footer .container .box .text{
    color: #b9b9b9;
    line-height: 2;
}

.footer .container .box .links li{
    padding: 15px 0;
    transition: var(--main-transition);
}
.footer .container .box .links li:not(:last-child){
    border-bottom: 1px solid #444;
}
.footer .container .box .links li a{
    color: #b9b9b9;
    transition: var(--main-transition);
}
.footer .container .box .links li:hover{
    padding-left: 10px;
}
.footer .container .box .links li:hover a{
    color: white;
}
.footer .container .box .links li a:before{
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.footer .container .box .line{
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
.footer .container .box .line i{
    color: var(--main-color);
    font-size: 25px;
    margin-right: 10px;
}
.footer .container .box .line .info{
    line-height: 1.7;
    flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img{
    width: 75px;
    border: 3px solid white;
    margin: 2px;
}
.footer .copyright{
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* end footer  */